html {
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    background-color: white;
  }

header {
  width: 100%;
  height: 30rem;
  background: url("../images/glasses-bg.png") center top no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;

}

.container-cadetblue {
  max-width: 960px;
  margin: auto;
}

.container-cadetblue img {
  height: 1.5rem;
  margin-top: auto;
  margin-bottom: bottom;
  margin-right: 1rem;
  margin-left: 2rem;
}

.container-cadetblue span {
  font-size: 1rem;
}

.container-cadetblue li {
  display: inline;
  padding: 0 1rem;
}

nav ul {
  margin-right: 1rem;
}

nav li {
  display: inline;
  padding: 0 1rem;
}

.truncated-menu {
  display: none;
}

header .main-container {
  justify-content: flex-end;
}

.main-container {
  display: flex;
  justify-content: flex-end;
}

.headline {
  display: inline-block;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
  text-transform: uppercase;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bold;
  }


  /* Supporting Sections */

  .subcontainer, .subcontainer2 {
    display: flex;
    justify-content: center;
  }

  /* Service Section */

  .service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    height: 8rem;
    margin: 3rem;
    text-align: center;
  }

  .service img {
    width: 5rem;
    margin-bottom: 1rem;
  }

  .service img.paper-icon {
    width: 3.5rem;
  }

  /* Info Section */

  .info {
    width: 35%;
    margin-right: 5%;
    margin-bottom: 4rem;
  }

  .info p {
    padding: 1rem 0;
  }

  .title {
    max-width: 10rem;
    padding: 0.5rem 1.25rem;
    background-color: cadetblue;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }

  /* Footer */

  footer {
    display: flex;
    align-items: center;
    background-color: azure;
    padding: 4rem 2rem;
  }

  footer img {
    height: 1.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
  }
